{% extends "base.html" %} {% load static %} {% block content %}

<!-- Include AOS Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init({
    duration: 800, // Animation duration
    once: true, // Run animation only once
  });
</script>

<section class="policy-section" data-aos="fade-up" data-aos-duration="1200">
  <div class="policy-wrapper">
    <h1 class="policy-title" data-aos="fade-up" data-aos-duration="1000">TOKYO ANALYTICS PRIVATE LIMITED</h1>
    <p class="policy-subheading" data-aos="fade-up" data-aos-duration="1100">“THE INSTITUTE” or TOKYO ANALYTICS</p>

    <h2 class="policy-title" data-aos="fade-up" data-aos-duration="1200">
      TOKYO ANALYTICS STUDENT CODE OF CONDUCT AND APPLICABLE TERMS & CONDITIONS
    </h2>

    <div class="policy-content" data-aos="fade-up" data-aos-duration="1300">
      <p data-aos="fade-up" data-aos-duration="1400">
        Tokyo Analytics ensures an optimum batch size to encourage personal attention and
        ensures an optimum batch size to encourage personal attention and
        group interaction. A lot of effort is invested by counsellors,
        instructors, and management to plan and customize the course for each
        batch. Hence, fees, once paid, cannot be refunded under any
        circumstances.
      </p>
      <p>
        In the unlikely event that a batch gets cancelled after payment of fees
        by the student, a full refund of fees will be provided.
      </p>
      <p>
        All students are required to maintain 75% attendance record. Failure to
        do so will result in the student not being eligible for the
        certification and placement activities.
      </p>
      <p>
        The field of data science and cybersecurity is an extremely dynamic
        field, with new skills, tools, and techniques emerging rapidly. Hence,
        to ensure our curriculum is in sync with the evolving trends, BAPL
        reserves the right to alter the course curriculum at any point without
        prior notice.
      </p>
      <p>
        All eligible students will be awarded a Certificate/Diploma on
        Completion of the course.
      </p>
      <p>
        All students are required to maintain confidentiality of all sessions
        and course materials provided. Any breach of confidentiality will be
        severely dealt with and will result in legal consequences.
      </p>
      <p>
        Immorality, contempt of authority, discipline issues, rude behaviour
        will result in immediate dismissal and debarment from the course.
      </p>
      <p>
        Students are expected to bring and maintain their own IT systems
        (hardware, software, licenses, etc.) for the sessions. Tokyo Analytics  will not be
        held responsible for any loss, theft, or damage to students’ property
        and belongings. Students are expected to take care of their belongings.
      </p>
      <p>
        In light of any unforeseen instances or public holidays, the duration of
        the course may extend beyond the stipulated period.
      </p>
      <p>
        All students are expected to maintain a decorum during our training
        programs. Students are subject to Tokyo Analytics rules and regulations in force
        and as varied from time to time. Failure to comply with the rules or any
        instance of indiscipline will result in their admissions getting
        terminated immediately without any refund.
      </p>
      <p>
        In case a student misses a session, they can access the video recording
        of that session with a prior appointment. The videos must be accessed
        within 2 weeks of the missed session.
      </p>
      <p>
        Sharing of Tokyo Analytics resources and information (course material, access,
        opportunities, etc.) to anyone will result in breach of confidentiality
        and will have legal consequences.
      </p>
      <p>
        You shall not divulge any confidential matters related to Tokyo Analytics to anyone
        not in permanent employment of BAPL. You will not at any time without
        the consent in writing of Tokyo Analytics during the term of your course with BAPL
        or after, make known or divulge in any manner whatsoever any information
        concerning the technical process, patent, transaction, finances, or
        affairs of BAPL. In addition, you shall be bound by the decision of BAPL
        regarding publication written or otherwise, of any work with which you
        may be associated.
      </p>
      <p>
        The student must not engage in any activity that may bring disrepute to
        the institute. They must comply with all requirements, guidelines, and
        instructions issued from time to time. Any acts of indiscipline by the
        student will result in legal consequences.
      </p>
      <p>
        Making any untrue, disparaging, or misleading oral or written statements
        about Tokyo Analytics or its activities, in or on any medium or platform (including
        social media) will result in legal consequences.
      </p>
      <p>
        The student shall duly and punctually make payments of all amounts due
        and payable to BAPL. Non-payment of any amount under this by the student
        within the prescribed time shall be construed as an act of default and
        without prejudice to any other rights to recover such amount from the
        student, the institute shall also be entitled to terminate his enrolment
        forthwith without giving any prior notice.
      </p>
      <p>
        The student agrees that the court in Mumbai in the state of Maharashtra
        (INDIA) and none other courts shall have jurisdiction to try any matter
        arising between Tokyo Analytics and the student. All differences and disputes which
        may arise between the institute and the student shall be referred to a
        sole arbitrator for adjudication to be appointed by the institute only.
        The provisions of the Indian Arbitrator and Conciliation Act, 1996 shall
        apply.
      </p>
      <p>
        The institute reserves the right to require a student’s withdrawal
        including immediate withdrawal from a program, or part of a program, for
        a serious or aggravated disciplinary or behavioural matter including
        continued or repeated misconduct. In such a case, the student will be
        subject to permanent exclusion from the program.
      </p>
      <p>
        In the event of a student’s temporary or permanent exclusion from a
        program, or expulsion from the institute, no refund of tuition fee or
        deposit will be made.
      </p>
      <p>
        Misbehaviour and Rude Behaviour: The institute has the right to
        terminate the student with immediate effect without any notice if the
        student exhibits any form of misbehaviour or rude behaviour towards the
        institute staff, faculty, or fellow students. Such behaviour includes,
        but is not limited to, physical or verbal abuse, harassment,
        discrimination, or any other behaviour that disrupts the peaceful and
        respectful learning environment of the institute.
      </p>
      <p>
        Non-Compliance of Fees: The institute expects all students to comply
        with the fee payment schedule as outlined in their enrolment agreement.
        If a student fails to comply with the fee payment schedule, the
        institute reserves the right to terminate the student’s enrolment with
        immediate effect, without any notice. The institute will not refund any
        fees paid by the student in such circumstances.
      </p>
      <p>
        Termination Process: In the event that the institute terminates a
        student’s enrolment with immediate effect, the institute will provide
        the student with a written notice of termination. The notice will
        include the effective date of termination. The student will be required
        to return all institute property if any immediately.
      </p>
      <p>
        Governing Law: These terms and conditions are governed by and construed
        in accordance with the laws of the jurisdiction where the institute is
        located. Any dispute arising under these terms and conditions shall be
        subject to the exclusive jurisdiction of the courts in that
        jurisdiction.
      </p>
      <p>
        By enrolling in the Institute, the student agrees to abide by these
        terms and conditions. The institute reserves the right to update or
        modify these terms and conditions at any time without prior notice.
      </p>

      <h2 class="policy-title">Placement Assistance</h2>
      <p>
        Placement Assistance activities include resume building, interview
        preparation, and access to internships and job opportunities from
        partner companies. All students will be eligible for Placement
        Assistance provided they adhere to the Code of Conduct and Terms &
        Conditions.
      </p>
      <h3 class="policy-subheading">
        In order to be eligible for Placement Assistance, ALL of the below
        conditions must be met:
      </h3>
      <ul class="policy-list">
        <li>
          - Must have 75% attendance in all technical training sessions, soft
          skills sessions, aptitude prep sessions, mock interviews (technical
          and HR), interview preparatory sessions, and guest/industry sessions
          organized by the institute.
        </li>
        <li>
          - Must have submitted the Capstone Project as per the timelines and
          scored a minimum of B grade.
        </li>
        <li>- Must have paid the entire fees in time.</li>
        <li>
          - Must have appeared for all the Interview and Test opportunities
          presented/offered.
        </li>
        <li>
          - Must have followed Tokyo Analytics Student Code of Conduct and Terms &
          Conditions.
        </li>
      </ul>
      <p>
        Note that any no-shows to scheduled interviews or tests will debar the
        student immediately. Any request to reschedule Interviews/Tests will not
        be permitted. 100% Placement Assistance will end as soon as the student
        receives his/her first offer letter.
      </p>

      <p class="policy-subhead">
        I would like to allow Tokyo Analytics to share my documents with loan financing
        partners.
      </p>
    </div>
  </div>
</section>

<style>
  .policy-section {
    padding: 50px 20px;
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
  }

  .policy-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .policy-title {
    font-size: 28px;
    color: #2a3d5f;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .policy-subheading {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
  }

  .policy-content p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
  }

  .policy-list {
    list-style-type: square;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.8;
  }
  @media (max-width: 768px) {
    .policy-wrapper {
      padding: 15px;
    }
  
    .policy-title {
      font-size: 22px;
    }
  
    .policy-subheading {
      font-size: 16px;
    }
  
    .policy-content p {
      font-size: 14px;
    }
  
    .policy-list {
      font-size: 14px;
    }
  }
  
</style>

{% endblock %}
